<div>
  <h3>Filters</h3>
  <select title="Sort" (change)="filterCocktails($event, 'strCategory')">
    <option *ngFor="let category of categories"
            [value]="category"
            [label]="category"
    >{{category}}</option>
  </select>

  <select title="Sort" (change)="filterCocktails($event, 'strIngredient')">
    <option *ngFor="let category of ingredients"
            [value]="category"
            [label]="category"
    >{{category}}</option>
  </select>

  <input
    (change)="search($event)"
    placeholder="Search by name, ingredients, category"
  />

  <div>Cocktails: {{cocktails.length}}</div>
</div>

<div *ngIf="cocktails && cocktails.length">
  <div class="cocktail-card" *ngFor="let cocktail of cocktails">
    <div><img width="100%" [src]="cocktail.strDrinkThumb" [alt]="cocktail.strDrink"/></div>
    <div>
      <div class="title">{{cocktail.strDrink}}</div>
      <div class="id">{{cocktail.idDrink}}</div>
      <div>{{cocktail.strAlcoholic}}</div>
      <div class="category">{{cocktail.strCategory}}</div>
      <div>{{cocktail.strCreativeCommonsConfirmed}}</div>
      <div>{{cocktail.strGlass}}</div>

      <div class="ingredients">
        <span><strong>Ingredients: </strong></span>
        <span>{{cocktail.strIngredient1}}, </span>
        <span>{{cocktail.strIngredient2}}, </span>
        <span>{{cocktail.strIngredient3}}</span>
      </div>

      <div class="instructions">
        <span><strong>Instructions: </strong></span>
        <div>{{cocktail.strInstructions}}</div>
        <div>{{cocktail.strInstructionsDE}}</div>
      </div>

      <div>
        <span><strong>Intake: </strong></span>
        <span>{{cocktail.strMeasure1}}</span>
      </div>

      <div class="date-modified">Last updated: {{cocktail.dateModified}}</div>
    </div>
  </div>
</div>

<div *ngIf="!cocktails">
  <h3>Pour glass with another filter</h3>
</div>


<router-outlet></router-outlet>
